.menu--container {
  position: fixed;
  top: 13%;
  left: 4%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu--search-btn {
  border: none;
  background-color: var(--red);
  color: #fff;
  font-size: 2.2rem;
  display: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.menu__btn-touch-area {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.menu--show-navigation-btn,
.menu--nav-links>* {
  margin-bottom: 0.5rem;
}

nav {
  position: absolute;
  top: 70px;
  left: 10px;
}

.menu--nav-links {
  background-color: #fff;
  padding: 7px 18px 7px 7px;
  border-radius: 3px;
}

.menu--show-navigation-btn {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--red);
  ;
}

#menu--logo {
  position: absolute;
  top: 17%;
  left: 10%;
  width: 80%
}

@media all and (max-width: 1024px) {
  .menu--container {
    display: block;
    position: fixed;
    top: auto;
    left: auto;
    width: 100%;
    /* height: 10vw; */
    background-color: aqua;
    opacity: 0.8;
  }

  .menu--search-btn {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .menu--search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .menu--show-navigation-btn {
    position: absolute;  
    /* left: 500px; */
    top: 10px;
    right: 20px;
    margin: 0;
    width: 40px;
    height: 40px;
  }

  nav {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    height: 100vh;
    width: 0;
    background-color: #fff;
  }

  .menu--enabled {
    width: 70vw;
    transition: width 0.5s;
  }

  .menu--disabled {
    width: 0;
    transition: 0.3s;
  }
}