.project-not-found--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--blue); */
  border: 2px solid black;
  border-radius: 10px;
  /* color: white; */
  transform: translateX(50%);
}

.project-not-found--container img{
  width: 100%;
}