.alice-carousel__stage-item {
  /* margin: auto; */
  /* height: 150px; */
  /* position: absolute;
  top: 0;
  left: 0 ; */
  /* display: flex; */
}

.alice-carousel__wrapper {
  width: 90%;
  margin: auto;
}

.clients--wrapper .alice-carousel__prev-btn-wrapper {
  position: absolute;
  top: 20%;
  text-align: left;
}

.clients--wrapper .alice-carousel__next-btn-wrapper {
  position: absolute;
  top: 20%;
  right: 0;
  text-align: right;
}

.alice-carousel__stage {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 80%; */
}

.alice-carousel__stage-item>* {
  /* background-color: pink; */
  /* width: 20px; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; */
}