.home--container {
  position: relative;
  /* padding-top: 60px; */
  /* padding-bottom: 260px; */
}

.home--container main {
  position: relative;
  width: 100%;
  height: 100%;
}

.home--intro-instafeed-wrapper {
  max-width: 1200px;
  margin: auto;
}

@media all and (min-width: 1025px) {
  .home--mobile-reel-wrapper {
    display: none;
  }

  .home--container {
    padding-top: 0;
  }
}