.intro--container {
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
}

.intro--content {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  background-color: #001944;
  padding: 3rem 0;
}

.intro--gif-and-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

.intro--gif-wrapper {
  padding: 1rem 0 1rem 0;
  width: 50%;
  /* background-image: url("../../assets/GIF_teste_1.gif"); */
  z-index: 99;
}

.intro--gif {
  transform: translateX(-25px);
  width: 90%;
}

.intro--text-and-btn {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.intro--text-and-btn p {
  margin-bottom: 2rem;
}

.intro--text-and-btn p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}

.intro--text-and-btn button {
  color: #fff;
  font-weight: 600;
  background-color: rgb(229, 74, 56);
  padding: 0.4rem;
  padding-bottom: 0.5rem;
  border-radius: 50px;
  width: 100px;
}