body {
  background-color: pink;
  overflow-x: hidden;
}

main {
  background-color: rgb(191, 213, 195);
}

.icon {
  font-size: 2rem;
}

a {
  all: unset
}

button, a:hover {
  cursor: pointer;
}

button {
  border: none;
}