body {
  /* background-color: pink; */
  /* overflow-x: hidden; */
}

.icon {
  font-size: 2rem;
}

a {
  all: unset
}

button, a:hover {
  cursor: pointer;
}

button {
  border: none;
}

ul {
  list-style-type: none;
}